.hamburger-menu {
  position: relative;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: currentColor;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.menu-toggle:checked + .menu-icon .bar:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}

.menu-toggle:checked + .menu-icon .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle:checked + .menu-icon .bar:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -8px);
}
